<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman - Jeu</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
    <div class="container">
    <h1>Jeu Hangman</h1>
    <pre>
        {{ .HangmanDrawing }}
    </pre>
    <p class="info-tentative">Tentative restantes : {{.AttemptsLeft}}</p>
    <p class="info-lettres-utilisé">Vous avez utilisé ces lettres : {{if .GuessedLetters}}{{.GuessedLetters}}{{else}}Aucune lettre devinée{{end}}</p>
    <p class="info-du-mot">Mot Affiché : {{if .WordToGuess}}{{.DisplayedWord}}{{else}}Mot caché{{end}}</p>
    <form action="/hangman" method="POST">
        <label for="letter">Choisissez une lettre :</label>
        <input type="text" id="letter" name="letter" maxlength="1">
        <button type="submit">Devinez</button>
    </div>
    </form>
</body>
</html>
